body {font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFF;}

a {text-decoration: none;}

ul {list-style: none;
    margin: 0;
    padding: 0;
}

p {margin: 0;}

h1,h2,h3,h4,h5 {
    margin: 0;
}

img { display: block;}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* -----header----- */
.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-conteiner {
    display: flex;
    align-items: center;

}

.navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-logo-color {
    color: #2e2f42;
}

.header-nav {
    display: flex;
    gap: 40px;
}


.header-nav-link {
    color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover,
.header-nav-link:focus{
    color: #404BBF;
}

.current {
    position: relative;
    color: #404BBF;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404BBF;
    height: 4px;
    width: 100%;
}

.header-address-list {
    display: flex;
    gap: 40px;
}
.header-address {
    font-style: normal;
    margin-left: auto;
}

.header-address-link {
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-link:hover,
.header-address-link:focus {
    color: #404BBF
}
/* -----header----- */

/* -----hero-section----- */
.hero {
    background: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(/images/people-office-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
}

.hero-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-title {color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-btn { color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border : none;
    display: inline-flex;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus{
    background-color: #404BBF
}
/* -----hero-section----- */

/* -----feautures-section----- */
.feautures {
    padding: 120px 0;
}
.feautures-icons {
    display: flex;
    gap: 24px;
}

.feautures-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    border-radius: 4px;
}

.feautures-icons-list{
    border-radius: 4px;
    border: 1px solid  #8E8F99;
    width: 264px;
    flex-shrink: 0;
    padding: 24px 100px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
    align-items: center;
    
}

.features-list-item {
    display: flex;
    width: calc((100% - 72px) / 4);
    align-items: flex-start;
    flex-direction: column;
}

.feautures-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.feautures-name-describe {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* -----feautures-section----- */

/* -----our-team-section----- */
.team {
    background-color: #F4F4FD;
    padding: 120px 0;

}

.team-haeder {color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list{ 
    display: flex;
    gap: 24px;
}
.team-list-content{
    padding: 32px 0
}

.team-list-item{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    padding-bottom: 32px;
    width: calc(100% - (24 * 3) /4)
}

.team-list-item-img {
    margin-bottom: 32px;
}
.team-list-item-name {
    color:#2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-bottom: 8px;
}

.team-list-item-job {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-list-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0 16px;
}
.team-icon{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    
}

.team-soc-icon {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   

.soc-icon {
    fill: #f4f4fd;
}


.team-soc-icon:hover,
.team-soc-icon:focus {
    background-color: #404bbf;
}
/* -----our-team-section----- */

/* -----our-portfolio-section----- */
.portfolio {
    padding: 120px 0;
}

.portfolio-header {
    color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-list-content{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-item {
    width: calc(100% - (24 * 2) /3);
    padding-bottom: 32px;
    margin-bottom: 8px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 



.portfolio-list-item-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-left: 16px;
    margin-bottom: 8px;
    margin-top: 32px;
}

.portfolio-list-item-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-left: 16px;
}


.portfolio-img-cover-wrap {
    position: relative;
    overflow: hidden;
      }
.portfolio-img-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .portfolio-img-text-wrap {
    transform: translateY(0%);
    }

.portfolio-list-item:hover .portfolio-img-text {
    transform: translateY(0%);
    }
/* -----our-portfolio-section----- */

/* -----footer----- */
.footer {
    display: flex;
    background:#2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-content{
    display: flex;
    align-items: baseline;
}

.footer-logo-text {
    margin-right: 120px;
}
.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-color {
    color: #F4F4FD;
}
.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-soc-text {
    color:  #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.footer-list-icon {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 0 16px;
}
.footer-icon {
    width: 40px;
    height: 40px;
}
.footer-soc-icon {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-soc-icon:hover,
.footer-soc-icon:focus {
    background-color: #31d0aa;
}
.icon-for-footer {
    fill: #f4f4fd;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form-label {
    gap: 24px;
}

.form-header {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: 80px;
    margin-bottom: 16px;

}

.footer-input-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 16px;

}

.footer-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    margin-left: 80px;
}

.footer-input::placeholder {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-input-btn {
    color: #FFFFFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background: #4D5AE5;
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    border: none;
}

.footer-subscribe-icon {
    margin-left: 16px;
}


/* -----footer----- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
    fill: #ffffff;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    color: #2E2F42;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 72px 24px 16px;
}

.modal-form{
    padding: 0 24px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-field-chekbox {
    margin-bottom: 24px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.modal-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent;
    resize: none;
    margin-bottom: 16px;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
    border-color: #4D5AE5;
}

.chech-text {
    width: 338px;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.chech-text a {
    color:  #4D5AE5;
    text-decoration-line: underline;
}

.check-wrap {
    width: 16px;
    height: 16px; 
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.user-privacy:checked + .chech-text span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.modal-send-btn {
    min-width: 169px;
    height: 56px;
    margin: 24px 95px;
    padding: 16px 32px;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
